mysql -uroot -p{{db_password}}  << EOF
SET PASSWORD = PASSWORD('{{db_password}}');
SET wsrep_on=OFF;
use mysql;
GRANT ALL PRIVILEGES ON *.* TO root@localhost  IDENTIFIED BY '{{db_password}}' WITH GRANT OPTION;
GRANT ALL PRIVILEGES ON *.* TO root@"%"  IDENTIFIED BY '{{db_password}}' WITH GRANT OPTION;
DELETE FROM mysql.user WHERE user='';
GRANT ALL ON *.* TO 'wsrep_sst-user'@'%' IDENTIFIED BY '{{db_password}}';
FLUSH PRIVILEGES;
quit
EOF
